In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [3]:
df.duplicated().sum()

25324

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.shape

(7324, 8)

In [6]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [7]:
cat_col = df.select_dtypes(include="O")
cat_col

,bike_name,city,owner,brand
0,TVS Star City Plus Dual Tone 110cc,Ahmedabad,First Owner,TVS
1,Royal Enfield Classic 350cc,Delhi,First Owner,Royal Enfield
2,Triumph Daytona 675R,Delhi,First Owner,Triumph
3,TVS Apache RTR 180cc,Bangalore,First Owner,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,Bangalore,First Owner,Yamaha
...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,Delhi,First Owner,Hero
9369,Bajaj Avenger 220cc,Bangalore,First Owner,Bajaj
9370,Harley-Davidson Street 750 ABS,Jodhpur,First Owner,Harley-Davidson
9371,Bajaj Dominar 400 ABS,Hyderabad,First Owner,Bajaj
9372,Bajaj Avenger Street 220,Hyderabad,First Owner,Bajaj

In [8]:
num_col = df.select_dtypes(exclude="O")
num_col

         price  kms_driven  age  power
0      35000.0     17654.0  3.0  110.0
1     119900.0     11000.0  4.0  350.0
2     600000.0       110.0  8.0  675.0
3      65000.0     16329.0  4.0  180.0
4      80000.0     10000.0  3.0  150.0
...        ...         ...  ...    ...
9362   25000.0     48587.0  8.0  150.0
9369   35000.0     60000.0  9.0  220.0
9370  450000.0      3430.0  4.0  750.0
9371  139000.0     21300.0  4.0  400.0
9372   80000.0      7127.0  5.0  220.0

[7324 rows x 4 columns]

In [9]:
cat_col.drop(['bike_name','city'],axis='columns',inplace=True)

In [10]:
df['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [11]:
dt = {"First Owner":1,"Second Owner":2,
      "Third Owner":3,
     "Fourth Owner Or More":4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [12]:
df['owner'] = df['owner'].map(dt)

In [13]:
brands = list(df['brand'].value_counts().keys())
brands

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW',
 'Jawa',
 'Indian',
 'MV',
 'Rajdoot',
 'LML',
 'Yezdi',
 'Ideal']

In [14]:
{'Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW', 'Jawa', 'Indian', 'MV',
       'Rajdoot', 'LML', 'Yezdi', 'Ideal'}

{'BMW',
 'Bajaj',
 'Benelli',
 'Ducati',
 'Harley-Davidson',
 'Hero',
 'Honda',
 'Hyosung',
 'Ideal',
 'Indian',
 'Jawa',
 'KTM',
 'Kawasaki',
 'LML',
 'MV',
 'Mahindra',
 'Rajdoot',
 'Royal Enfield',
 'Suzuki',
 'TVS',
 'Triumph',
 'Yamaha',
 'Yezdi'}

In [15]:
dt = {}
for i,item in enumerate(brands):
     # print(item," ",i)
    dt[item] = i
dt

{'Bajaj': 0,
 'Royal Enfield': 1,
 'Hero': 2,
 'Honda': 3,
 'Yamaha': 4,
 'TVS': 5,
 'KTM': 6,
 'Suzuki': 7,
 'Harley-Davidson': 8,
 'Kawasaki': 9,
 'Hyosung': 10,
 'Mahindra': 11,
 'Benelli': 12,
 'Triumph': 13,
 'Ducati': 14,
 'BMW': 15,
 'Jawa': 16,
 'Indian': 17,
 'MV': 18,
 'Rajdoot': 19,
 'LML': 20,
 'Yezdi': 21,
 'Ideal': 22}

In [16]:
dt = {key:i for i,key in enumerate(brands)} # dictionary comprehension
dt

{'Bajaj': 0,
 'Royal Enfield': 1,
 'Hero': 2,
 'Honda': 3,
 'Yamaha': 4,
 'TVS': 5,
 'KTM': 6,
 'Suzuki': 7,
 'Harley-Davidson': 8,
 'Kawasaki': 9,
 'Hyosung': 10,
 'Mahindra': 11,
 'Benelli': 12,
 'Triumph': 13,
 'Ducati': 14,
 'BMW': 15,
 'Jawa': 16,
 'Indian': 17,
 'MV': 18,
 'Rajdoot': 19,
 'LML': 20,
 'Yezdi': 21,
 'Ideal': 22}

In [29]:
df['brand'] = df['brand'].map(dt )

In [17]:
cat_col['brand'] = cat_col['brand'].map(dt)

In [18]:
df.drop(['bike_name','city'],axis='columns',inplace=True)

In [30]:
x = df.drop('price',axis='columns')
y = df[['price']]
# pip install scikit-learn

In [20]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

In [32]:
x_train

      kms_driven  owner  age  power  brand
7868      6843.0      1  4.0  100.0      2
8607     10600.0      1  5.0  320.0      4
197       4000.0      1  2.0  100.0      2
4365     10546.0      1  9.0  150.0      4
274      56353.0      1  5.0  200.0      0
...          ...    ...  ...    ...    ...
5529     14740.0      1  4.0  150.0      0
8315     17500.0      1  6.0  200.0      0
8366      1401.0      1  3.0  500.0      1
9280      7500.0      1  5.0  110.0      2
2894     15671.0      1  5.0  150.0      3

[5859 rows x 5 columns]

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr =  LinearRegression()

In [27]:
x_train

      kms_driven  owner   age   power    brand
1291      3000.0      1   2.0   150.0   Yamaha
1851     26000.0      2  13.0   100.0     Hero
3132     12131.0      1   3.0   160.0      TVS
404      17000.0      1   3.0   220.0    Bajaj
7431       210.0      1   8.0   650.0  Hyosung
...          ...    ...   ...     ...      ...
8791     60000.0      3  11.0   220.0    Bajaj
4718     22493.0      1   7.0   100.0     Hero
182        100.0      1   6.0  1198.0   Ducati
5109      5500.0      1   2.0   160.0    Honda
4239     19253.0      1   6.0   100.0     Hero

[5859 rows x 5 columns]

In [33]:
lr.fit(x_train,y_train)

LinearRegression()

In [34]:
lr.score(x_train,y_train)

0.742453322954237

In [35]:
pred = lr.predict(x_test)

In [37]:
y_test['prediction'] = pred

In [40]:
y_test.columns  = ['Actual', 'prediction']

In [41]:
y_test

        Actual     prediction
6521   20000.0    4540.979510
3623   75000.0  113051.962968
631    44000.0   51680.646465
8633   29000.0   15212.248856
5389  105000.0  215625.098889
...        ...            ...
1804  125000.0  145760.972561
4430   33000.0   32309.820855
1683  133000.0  143835.018086
6287  340000.0  445633.600271
8161   20000.0  -34413.625732

[1465 rows x 2 columns]

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
rdf = RandomForestRegressor()

In [44]:
rdf.fit(x_train,y_train)

C:\Users\Ranjit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [45]:
import joblib

In [46]:
lst = [10,20,30,40,50,60]
lst

[10, 20, 30, 40, 50, 60]

In [ ]:
joblib.dump(lst,'mylist.lb')

In [ ]:
my_var = joblib.load('mylist.lb')