In [7]:
class Manager: 
    def __init__(self):
        self.employe_1 = 'harsh sharma'
        self.employe_2 = 'mohit sharma'
        self.employe_1_id = '12545 sharma'
        self.employe_2_id = '12545 dfdf'

        #protected variables 
        # self._manager = "salman khan"
        # self._manager_id = "23164dfdf"

# private variables
        self.__manager = "salman khan"
        self.__manager_id = "23164dfdf"
    

class Employee(Manager):
    def employee_hii(self): 
        print(self.employe_1)
        print(self.employe_2)

    def manager_hii(self): 
        print(self.__manager)
        print(self.__manager_id)
      
## variable types 
# 1. public variable   ## accessible from everywhere
# 2. protected variable   # access in a sub class 
# 3. private variable   # you can only access in the class

In [8]:
obj = Employee()

In [9]:
obj.employee_hii()
print()
obj.manager_hii()

harsh sharma
mohit sharma

AttributeError: 'Employee' object has no attribute '_Employee__manager'

In [10]:
class student: 
    def __init__(self):
        self.employe_1 = 'harsh sharma'
        self.employe_2 = 'mohit sharma'
        self.employe_1_id = '12545 sharma'
        self.employe_2_id = '12545 dfdf'

In [11]:
obj = student()

In [12]:
obj.__dict__

{'employe_1': 'harsh sharma',
 'employe_2': 'mohit sharma',
 'employe_1_id': '12545 sharma',
 'employe_2_id': '12545 dfdf'}